<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<div>
 <center> <h1> HOLLYWOOD MOVIES RECOMMENDATION SYSTEM</h1></center>
</div>
<br><br><br>
<div>
    <card>
    <form>
        <center><input type="text" name="movie" class="movie form-control" id="autoComplete" autocomplete="off"placeholder="Enter the Movie Name" style="background-color: #ffffff;border-color:#3e196e;width: 50%;color: #181818" required="required" /></center>
    <br>
    <center><input type="submit" class="btn btn-info" value="Enter"></center>
    </form>
      </card>
</div>
</body>
</html>