<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<center><h3> Suggestions based on </h3></center>
<center><h3> <i>"{{title|upper}}" </i> </h3></center>


<div>
    <center>
    <div class="card-body" style="width: 60rem;">
    <table class = "table table-stripped table-bordered table.sm">
    <thead class = "thead-dark">
    <tr>
      <th scope="col">Movie</th>
        <th scope="col">TMDB-Rating</th>

    </tr>
  </thead>
  <tbody>
  {% for i in range(10) %}
    <tr>
        <td>
            {{ m[i]|capitalize  }}
        </td>
        <td>
            {{ r[i] }}
        </td>


    </tr>
  {% endfor %}
  </tbody>
</table>
    </div>
        </center>
</div>



{% for i in range(10) %}
<center>
<div>

    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ m[i]|capitalize  }}</h5>

    <p class="card-text">Rating : {{r[i]}} </p>

    <a href= "https://www.youtube.com/results?search_query={{m[i]}}+hollywood+movie+trailer " class="btn btn-primary btn-block movie-button">Watch Trailer</a>
  </div>
</div>
    <br>
</div>
</center>
{% endfor %}



</div>


<center> <a href = "/" class="btn btn-primary btn-block movie-button" style="background-color: #FF5733;text-align: center;border-color: #FF5733;width:250px;">Home </a></center>
<br>
</body>
</html>